USE [master]
GO
/****** Object:  Database [PROYECTOESTACIONAMIENTO]    Script Date: 29/11/2024 16:49:23 ******/
CREATE DATABASE [PROYECTOESTACIONAMIENTO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PROYECTOESTACIONAMIENTO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PROYECTOESTACIONAMIENTO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PROYECTOESTACIONAMIENTO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PROYECTOESTACIONAMIENTO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PROYECTOESTACIONAMIENTO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PROYECTOESTACIONAMIENTO]
GO
/****** Object:  Table [dbo].[ESTACIONAMIENTO]    Script Date: 29/11/2024 16:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTACIONAMIENTO](
	[ID_ESTACIONAMIENTO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[DIRECCION] [varchar](50) NULL,
	[CAPACIDAD] [int] NULL,
	[OCUPADOS] [int] NULL,
 CONSTRAINT [PK_ESTACIONAMIENTO] PRIMARY KEY CLUSTERED 
(
	[ID_ESTACIONAMIENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TICKET]    Script Date: 29/11/2024 16:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TICKET](
	[ID_TICKET] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[ID_ESTACIONAMIENTO] [int] NOT NULL,
	[FECHA_ENTRADA] [datetime] NOT NULL,
	[FECHA_SALIDA] [datetime] NULL,
	[PRECIO] [decimal](18, 0) NULL,
 CONSTRAINT [PK_TICKET] PRIMARY KEY CLUSTERED 
(
	[ID_TICKET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 29/11/2024 16:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[APELLIDO] [varchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[TELEFONO] [int] NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ESTACIONAMIENTO] ON 

INSERT [dbo].[ESTACIONAMIENTO] ([ID_ESTACIONAMIENTO], [NOMBRE], [DIRECCION], [CAPACIDAD], [OCUPADOS]) VALUES (10, N'estacionamiento1', N'estacionamiento123', 10, 4)
INSERT [dbo].[ESTACIONAMIENTO] ([ID_ESTACIONAMIENTO], [NOMBRE], [DIRECCION], [CAPACIDAD], [OCUPADOS]) VALUES (11, N'asdasd', N'asd', 22, -1)
INSERT [dbo].[ESTACIONAMIENTO] ([ID_ESTACIONAMIENTO], [NOMBRE], [DIRECCION], [CAPACIDAD], [OCUPADOS]) VALUES (12, N'estac23', N'estacc', 2, 2)
SET IDENTITY_INSERT [dbo].[ESTACIONAMIENTO] OFF
GO
SET IDENTITY_INSERT [dbo].[TICKET] ON 

INSERT [dbo].[TICKET] ([ID_TICKET], [ID_USUARIO], [ID_ESTACIONAMIENTO], [FECHA_ENTRADA], [FECHA_SALIDA], [PRECIO]) VALUES (21, 15, 10, CAST(N'2024-11-29T16:21:33.357' AS DateTime), CAST(N'2024-11-29T16:36:14.997' AS DateTime), CAST(60 AS Decimal(18, 0)))
INSERT [dbo].[TICKET] ([ID_TICKET], [ID_USUARIO], [ID_ESTACIONAMIENTO], [FECHA_ENTRADA], [FECHA_SALIDA], [PRECIO]) VALUES (22, 16, 10, CAST(N'2024-11-29T16:21:48.133' AS DateTime), CAST(N'2024-11-29T16:23:19.773' AS DateTime), CAST(60 AS Decimal(18, 0)))
INSERT [dbo].[TICKET] ([ID_TICKET], [ID_USUARIO], [ID_ESTACIONAMIENTO], [FECHA_ENTRADA], [FECHA_SALIDA], [PRECIO]) VALUES (23, 21, 10, CAST(N'2024-11-29T16:37:02.883' AS DateTime), CAST(N'2024-11-29T16:37:21.060' AS DateTime), CAST(60 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[TICKET] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([ID_USUARIO], [NOMBRE], [APELLIDO], [EMAIL], [TELEFONO]) VALUES (15, N'Rodrigo', N'Raniti', N'rodriraniti@gmail.com', 1191919)
INSERT [dbo].[USUARIO] ([ID_USUARIO], [NOMBRE], [APELLIDO], [EMAIL], [TELEFONO]) VALUES (16, N'gabo', N'sabugo', N'gabosabugo@gmail.com', 292014)
INSERT [dbo].[USUARIO] ([ID_USUARIO], [NOMBRE], [APELLIDO], [EMAIL], [TELEFONO]) VALUES (17, N'mateo', N'murillo', N'no@mateo.com', 123123)
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
ALTER TABLE [dbo].[ESTACIONAMIENTO] ADD  CONSTRAINT [DF_Estacionamientos_Ocupados]  DEFAULT ((0)) FOR [OCUPADOS]
GO
ALTER TABLE [dbo].[TICKET]  WITH CHECK ADD  CONSTRAINT [FK_TICKET_ESTACIONAMIENTO1] FOREIGN KEY([ID_ESTACIONAMIENTO])
REFERENCES [dbo].[ESTACIONAMIENTO] ([ID_ESTACIONAMIENTO])
GO
ALTER TABLE [dbo].[TICKET] CHECK CONSTRAINT [FK_TICKET_ESTACIONAMIENTO1]
GO
ALTER TABLE [dbo].[TICKET]  WITH CHECK ADD  CONSTRAINT [FK_TICKET_USUARIO1] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[TICKET] CHECK CONSTRAINT [FK_TICKET_USUARIO1]
GO
USE [master]
GO
