<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConexionDB" connectionString="Data Source=(localdb)\GabrielSabugo;Initial Catalog=PROYECTOESTACIONAMIENTO;Integrated Security=True" />
    </connectionStrings>
</configuration>